page-login {

    .scroll-content {
        padding-left: 33px;
        padding-right: 33px;
    }

    .rectangle {
        position: relative;
        height: 160px;
        background-image: linear-gradient(to bottom, $dark, $primary);
    }

    ion-title {
        text-align: center;
    }

    ion-icon {
        color: $light;
        font-size: 98px;
    }

    ion-label {
        font-size: 16px !important;
        color: $secondary !important;
        margin-bottom: 6px !important;
        font-weight: 900 !important;
    }

    form input {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
        padding: 0 20px;
        border: 1px solid $secondary;
        color: $secondary;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    ::-webkit-input-placeholder {
       color: $placeholder;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $placeholder;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $placeholder;  
    }

    :-ms-input-placeholder {  
       color: $placeholder;  
    }

    form .item-md {
        padding-left: 0 !important;
        margin-bottom: 20px;
    }

    %button {
        font-size: 16px;
        height: 45px;
    }

    .button-enter {
        @extend %button;
        width: 155px;
        text-transform: capitalize;
        background-color: $secondary;
        font-weight: 900;
    }

    .button-register {
        @extend %button;
        // bottom: 10%;
        // width: calc(100% - 66px);
        text-transform: capitalize;
        border: 1px solid $secondary;
        color: $secondary;
        // position: absolute;
    }

    .button-forgetter { 
        color: $danger;
    }

    form .col {
        padding-left: 0;
        padding-right: 0;

        button {
            margin: 0.4rem 0rem;
        }
    }
}
