page-home {

    ion-header .toolbar {
        padding-right: 20px;
        padding-left: 10px;       
    }

    .scroll-content {
        padding: 0 25px;
    }

    .item-ios.item-block .item-inner {
        border: none;
    }

    .item-md {
        padding-left: 0;
    }

    .item.item-block.item-md .item-inner .input-wrapper .label.label-md {
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }

    .item.item-block.item-ios.item-md .item-inner .input-wrapper .label.label-md {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .item.item-block.item-md .item-inner {
        padding-right: 0;
    }

    .item.item-block.item-ios.item-md .item-inner {
        margin-right: -15px;
    }

    .col {
        padding-left: 0;
        padding-right: 0;

        span strong {
            color: $primary;
            font-weight: 900;
        }
        ion-note {
            color: $primary;
        }
    }

    .note.note-ios.note-md {
        margin: 0;
    }

    .corrige-label {
        padding-right: 30px !important;
        display: block;
    }

    .content-header {        
        margin-bottom: 30px;
        position: relative;

        h1 {
            cursor: pointer;
            margin-bottom: 0;
        }
    
        h1::after {
            content: "__";
            position: absolute;
            top: -16px;
            left: -47px;
            font-size: 37px !important;
            color: $primary;
        }

        p {
            color: $primary;
            font-size: 12px;
        }
    }

    .processo-header {
        position: relative;

        h2 {
            color: $primary;
        }

        h2::after {
            content: "__";
            position: absolute;
            top: -18px;
            left: -47px;
            font-size: 37px !important;
            color: $primary;
        }
    }

    .logo-decoration {
        position: absolute;
        top: -10px;
        right: -47px;
        font-size: 50px;
    }
}
