// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/variables';


//Reset

.label-md {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonte-pattern;
  font-weight: normal;
  background-color: #FEFFFE;
  border-left: 5px solid $primary;
}
ion-content.content {
  background-color: #FEFFFE;
}

h1, h2, h3, h4, h4 {
  font-family: $fonte-pattern;
  font-weight: normal
}

h1 {
  font-weight: 900;
  line-height: 24px;
  color: $dark;
  margin-bottom: 30px;
}

h2, .item h2 {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: $dark;
  margin: 10px 0px;
}

p, .item p {
  font-family: SFProText;
  font-size: 12px;
  line-height: 24px;
  color: $dark;
  margin: 0;
}

.scroll-content {
  padding-top: 25px;
}

.toolbar-title {
  padding-left: 0px;
  padding-right: 0px;
}

ion-label {
  white-space: normal;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none;
}

ion-header {
  box-shadow: none;
  ion-navbar {
    height: 75px;
    border-bottom: 1px solid rgba($secondary, 0.15);
    background-color: transparent !important;
    box-shadow: none;
    .toolbar-background {
      border: 0 !important;
      box-shadow: none;
      background-color: transparent !important;
    }
  }
}

.blog-date {
  font-weight: lighter;
  color: $semiLight;
  margin-bottom: 10px;
}

.bar-buttons[left] {
  margin-left:15px;
}

.menu-inner {

  $white: white;

  ion-header, .scroll-content, ion-item, ion-list {
    background-color: $primary;
    opacity: .98;
  }

  .scroll-content {
    padding: 25px 25px 0 9px !important;
  }

  .scroll-content ion-item .item-inner {
    border: none;
  }

  button {
    background-color: inherit;
    color: $white;
  }

  h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  h1, ion-icon {
    color: $white;
  }

  small {
    color: $white;
    font-size: 12px;
    font-weight: 300;
  }

  .scroll-content .rodape-menu {
    // position: relative;
    // bottom: 1px;
    // left: 0;
    // padding-left: 0;
  }
 
  .toolbar-title {
    font-size: 25px;
  }

  ion-navbar{
    padding: 0 25px !important;
    border-bottom: 1px solid $white;
  }

  button .item-inner {
    padding: 20px 0;
    padding-right: 0 !important;
  }
  
  button .item-inner .item-end {
    margin-right: 0 !important;
  }
}
