@import "../../theme/variables";
page-acompanhamento-home {
  h1 {
    margin-bottom: 0px;
  }

  .processo-header span {
    font-weight: 300;
    color: $secondary;
    font-family: $fonte-pattern;
    font-size: 16px;
    font-weight: normal
  }
}
