@import "../../theme/variables";
page-agenda-lista {
  h1 {
    &::before {
      content: "__";
      font-size: 37px;
      color: #0B4A76;
      float: right;
      margin-right: -40px;
      margin-top: -15px;
    }
  }
  .item {
    padding-left:0px;
  }
  .agenda-dia {
    font-family: $fonte-pattern;
    font-weight: normal;
    color: $secondary;
    font-size: 48px;
  }
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    h2 {
      margin: 0;
      margin-bottom: 5px;
      font-weight: 900;
    }
    h3 {
      padding: 0px;
      margin: 0px;
      font-weight: 300;
    }
  }
  ion-row ion-col:first-child {
    width: 55px;
    max-width: 55px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  ion-item ion-row:first-child ion-col:last-child {
    width: 30px;
    max-width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .agenda-hora {
    font-family: $fonte-pattern;
    color: $secondary;
    font-weight: normal;
  }
  .agenda-status {
    background-color: #bec6c7;
    width: 90px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 10px;
    text-transform: uppercase;
    font-family: $fonte-pattern;
    color: $dark;
    &.confirmada {
      color: #fff;
      background-color: $primary;
    }
    &.cancelada {
      color: #fff;
      background-color: $danger;
    }
  }

  .item {
    margin-bottom: 10px;
    .input-wrapper {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($color: $primary, $alpha: 0.14) !important;
      }
   }

}
